<ion-header>
  <ion-toolbar>
    <ion-searchbar
      placeholder="Введите текст для поиска"
      animated
      type="text"
      [(ngModel)]="query"
      (keydown.enter)="onSearch(query)"
      (ionFocus)="showHistory = true"
    ></ion-searchbar>
    <ion-list *ngIf="showHistory && history.length > 0" no-margin>
      <ion-item
        *ngFor="let searchQuery of (history | reverse)"
        (click)="onSearch(searchQuery)"
      >
        <ion-icon name="time" slot="start"></ion-icon>
        {{ searchQuery }}
      </ion-item>
    </ion-list>
  </ion-toolbar>
</ion-header>

<ion-content padding-top>
  <div *ngIf="searchResult === 'idle'" class="container">
    <ion-icon name="search" color="medium" class="search-large"></ion-icon>
    <ion-text padding text-center no-margin color="medium">Начните поиск</ion-text>
  </div>
  <ng-container *ngIf="searchResult === 'loading'">
    <p padding text-center>
      <ion-spinner></ion-spinner>
    </p>
  </ng-container>
  <ng-container *ngIf="tendersList.length">
    <ion-text color="dark" padding>
      <b>Всего: {{ tendersList.length }}</b>
    </ion-text>
    <ion-card *ngFor="let item of tendersList">
      <ion-card-header>
        <ion-badge color="primary">№ {{ item.id }}</ion-badge>
        <ion-card-title>{{ item.customerName }}</ion-card-title>
        <ion-card-subtitle>{{ item.shortDescription }}</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <p><b>Стоимость: </b>{{ item.cost }}</p>
        <p><b>Предложения до: </b>{{ item.offersTo }}</p>
      </ion-card-content>
      <ion-row justify-content-end>
        <ion-button fill="clear" (click)="openTender(item)">
          <ion-icon name="globe" color="medium"></ion-icon>
        </ion-button>
        <ion-button fill="clear" (click)="share(item)">
          <ion-icon name="share-alt" color="medium"></ion-icon>
        </ion-button>
        <ion-button fill="clear" (click)="favorite(item)">
          <ion-icon
            *ngIf="!item.isFavorite"
            name="star-outline"
            color="medium"
          ></ion-icon>
          <ion-icon *ngIf="item.isFavorite" name="star"></ion-icon>
        </ion-button>
      </ion-row>
    </ion-card>
  </ng-container>
  <ng-container *ngIf="searchResult === 'error'">
    <p padding text-center>Тендеры не найдены</p>
  </ng-container>
</ion-content>
