<ion-header>
  <ion-toolbar>
    <ion-searchbar
      placeholder="Введите текст для поиска"
      animated
      type="text"
      (keydown.enter)="onInput($event)"
      value="Программное обеспечение"
    ></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content padding-top>
  <ng-container *ngIf="searchResult === 'loading'">
    <p padding text-center><ion-spinner></ion-spinner></p>
  </ng-container>
  <ng-container *ngIf="tendersList.length">
    <ion-text color="dark" padding>
      <b>Всего: {{ tendersList.length }}</b>
    </ion-text>
    <ion-card *ngFor="let item of tendersList">
      <ion-card-header (click)="openTender(item)">
        <ion-badge color="primary">№ {{ item.id }}</ion-badge>
        <ion-card-title>{{ item.customerName }}</ion-card-title>
        <ion-card-subtitle>{{ item.shortDescription }}</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <p><b>Стоимость: </b>{{ item.cost }}</p>
        <p><b>Предложения до: </b>{{ item.offersTo }}</p>
      </ion-card-content>
      <ion-row justify-content-end>
        <ion-button fill="clear" (click)="share(item)">
          <ion-icon name="share-alt" color="medium"></ion-icon>
        </ion-button>
        <ion-button fill="clear" (click)="favorite(item)">
          <ion-icon
            *ngIf="!item.isFavorite"
            name="heart-empty"
            color="medium"
          ></ion-icon>
          <ion-icon *ngIf="item.isFavorite" name="heart"></ion-icon>
        </ion-button>
      </ion-row>
    </ion-card>
  </ng-container>
  <ng-container *ngIf="searchResult === 'error'">
    <p padding text-center>Тендеры не найдены</p>
  </ng-container>
</ion-content>
