ion-fab button[ion-fab] {
  background-color: transparent;
}

ion-card-content {
  padding-bottom: 0 !important;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

.search-large {
  width: 100%;
  height: 100px;
}